<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mientéme - The Mills</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/cancion1.css"/>
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">The Mills</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    <a class="nav-link" href="/albums">albumes</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row ">
            <div class="col-md-12 mb-5">
                <h1>Miénteme - The Mills</h1>
            </div>
            
            <div class="col-md-3">
                <img src="https://images.genius.com/06a53a4420bf72ed170671a69f0aed9e.640x640x1.jpg" class="disc-img" id="disc"/>
            </div>
          
            <div class="col-md-4">
                <h2>Letra</h2>

                <button class="btn btn-secondary" id="play-button">▶</button>

                <div class="letra mt-5">
                    <p>Vas creando un rumor,</p>
                    <p>Creando tensión</p>
                    <p>Me quieres decir que siempre piensas en mí</p>
                    <p>En Mi? Mientes después no sabes que es</p>
                    <p>Tu lengua domina y grita tu sed</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Mienteme miénteme Amor que me muero</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Miénteme miénteme miénteme miénteme</p>
                    <p>Soy una ficha más en este ajedrez</p>
                    <p>A tu parecer, me mueves, gritas y das</p>
                    <p>La magia de ser, querer parecer</p>
                    <p>Tu lengua domina y grita tu sed</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Mienteme miénteme Amor que me muero</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Miénteme miénteme miénteme miénteme Es así</p>
                    <p>Nunca vi</p>
                    <p>Esos labios que al dejar hablar</p>
                    <p>Te aniquilan sin tu soledad</p>
                    <p>Mienteme miénteme Amor que me muero</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Miénteme miénteme miénteme miénteme</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Mienteme miénteme Amor que me muero</p>
                    <p>Miénteme miénteme Que yo te creo</p>
                    <p>Miénteme miénteme miénteme miénteme</p>
                </div>
            </div>
            
            <div class="col-md-5">
                <h3>Sobre la banda</h3>
                <p>The Mills es una banda colombiana de Rock formada en Bogotá con cinco integrantes en el año 2007, por el vocalista Álvaro Charry (Bako), el guitarrista Jorge Bello (Geogy), el bajista Ramón Gutiérrez, el teclista Diego Cáceres y el baterista Diego Cadavid.1​ La formación de la banda fueron influenciados por bandas de Rock alternativo como U2, Linkin Park y Radiohead 2​ Su primer trabajo discográfico fue Don't Care What They Think, es el primer EP de la banda publicada en el 2007.3​ Luego editan su primer álbum debut titulado Babel, grabado en "Art&co Records Studios" y producido por Jorge Holguin Pyngwi y lanzado el 18 de diciembre de 2009.​</p>
            </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../assets/js/cancion1.js"></script>
</body>
</html>