<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin ti, sin mi - The Mills</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/cancion5.css" />
</head>

<body class="bg-dark text-light" style="background: rgb(86, 233, 214);
background: linear-gradient(90deg, rgba(86, 233, 214, 1) 0%, rgba(58, 84, 203, 1) 100%);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">The Mills</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    <a class="nav-link" href="/albums">albumes</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row ">
            <div class="col-md-12 mb-5">
                <h1>Sin ti, Sin Mi - The Mills</h1>
            </div>

            <div class="col-md-3">
                <img src="../assets/img/carrusel1.jpg" class="disc-img" id="disc" />
            </div>

            <div class="col-md-4">

                <h4 style="text-align: center;">Reproducir canción <button class="btn btn-secondary" id="play-button">▶</button></h4>


                <h2 style="text-align: center;">Letra</h2>

                <div class="letra mt-5">
                    <p>Si es el fin de la discusion</p>
                    <p>No me vuelvas preso</p>
                    <p>Y si</p>
                    <p>Mejor marca tener la razon</p>
                    <p>Esa es tu prision</p>
                    <p>Ya no se ni quien soy</p>
                    <p>Disfrazado estoy</p>
                    <p>Construido por ti me siento</p>
                    <p>Dices que no entendi</p>
                    <p>Que no te escuche</p>
                    <p>Es muy tarde mujer para comprender</p>
                    <p>En este error somos dos</p>
                    <br />
                    <p>Sin ti ya no soy yo!</p>
                    <p>Sin ti ya no soy yo!</p>
                    <br />
                    <p>Si es mejor volver a empezar</p>
                    <p>No me siento fuerte y si</p>
                    <p>Lo que falta me pesa mas</p>
                    <p>En el alma no, que me sobra</p>
                    <p>Y la memoria me falla cuando hay corazon</p>
                    <p>Esta escrito en tu piel cicatrizes</p>
                    <p>Mira mirame bien por favor ten piedad</p>
                    <p>Por seguro mujer</p>
                    <p>El amanecer que ya no nos vera</p>
                    <br />
                    <p>Sin ti ya no soy yo!</p>
                    <p>Sin ti ya no soy yo!</p>
                    <p>Sin ti ya no soy yo!</p>
                    <p>Sin ti ya no soy yo!</p>
                </div>
            </div>


            <div class="col-md-5">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h2>The Mills es una banda colombiana de Rock formada en Bogotá con cinco integrantes en el año 2007, por el vocalista Álvaro Charry (Bako), el guitarrista Jorge Bello (Geogy), el bajista Ramón Gutiérrez, el teclista Diego Cáceres
                                y el baterista Diego Cadavid.</h2>
                        </div>
                        <div class="carousel-item">
                            <h2>La formación de la banda fueron influenciados por bandas de Rock alternativo como U2, Linkin Park y Radiohead</h2>
                        </div>
                        <div class="carousel-item">
                            <h2>Su primer trabajo discográfico fue Don't Care What They Think, es el primer EP de la banda publicada en el 2007.</h2>
                        </div>
                        <div class="carousel-item">
                            <h2>Luego editan su primer álbum debut titulado Babel, grabado en "Art&co Records Studios" y producido por Jorge Holguin Pyngwi y lanzado el 18 de diciembre de 2009.</h2>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br />
                <br />
                <br />
                <br />
                <h3>Te sientes en capacidad de completar un test?</h3>
                <br />
                <button type="button" class="btn btn-success" id="test">Empezar prueba!</button>
                <br />
                <br />

                <h2>Respuestas que pusiste!</h2>
                <br />

                <h4 id="nombreCancion">Nombre: </h4>
                <h4 id="nombreAlbum">Album: </h4>
                <h4 id="año">Año: </h4>
                <h4 id="nombreCompositor">Compositor: </h4>
                <h4 id="tiempoCancion">Tiempo: </h4>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../assets/js/cancion5.js"></script>
</body>

</html>